<nb-checkbox (change)="setAiSelection()">Artificial Intelligence</nb-checkbox>
<nb-checkbox (change)="setBcSelection()">Blockchain</nb-checkbox>
<nb-checkbox (change)="setEmSelection()">E-mobility</nb-checkbox>
<nb-checkbox (change)="setIoTSelection()">IoT</nb-checkbox>
<!--<ng-daterangepicker class="datepicker" [(ngModel)]="_selection.datepicker_value" (ngModelChange)="setSelection()" [options]="options"></ng-daterangepicker>-->
<ng-daterangepicker class="datepicker" [(ngModel)]="selection.datepicker_value" (ngModelChange)="setDateSelection()" [options]="options"></ng-daterangepicker>

